<app-page-content class="black-jack">
  <app-results-popup
    *ngIf="isGameRunning"
    (restart)="handleStart()"
    (exit)="handleExit()"
    [playerScore]="playerScore"
    [dealerScore]="dealerScore"
    [playerWins]="playerWins"
    [dealerWins]="dealerWins"
    [result]="result">
  </app-results-popup>
  <div class="row">
    <button (click)="handleStart()">{{ isGameRunning ? 'RESTART' : 'START!' }}</button>
  </div>
  <div class="row">
    <app-deck (click)="handleGetPlayerCard()" [cards]="currentDeck" [isClickable]="isGameRunning && !result"></app-deck>
    <app-deck *ngIf="dealerCards" [cards]="dealerCards" oneByOne="true"></app-deck>
  </div>
  <div *ngIf="isGameRunning && !result" class="row">
    <button (click)="handleGetPlayerCard()">
      Take Card
    </button>
    <button (click)="handleEnough()">
      Enough
    </button>
  </div>
  <div class="row">
    <app-deck *ngIf="playerCards" [cards]="playerCards" oneByOne="true"></app-deck>
  </div>
</app-page-content>
