/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

:root {
  --color-green: green;
  --color-white: white;
  --color-black: black;
  --color-blue: blue;
  --color-gray: gray;
}
